.App {
  position: relative;
  background: url(./bgi.png);
  background-size: 100% 100%;
  min-height: 100vh;
  display: flex;
}
.App > div {
  display: flex;
  align-self: center;
  transform: translate(calc(50vw - 15em), -4em);
  color: #00d60a;
  text-align: left;
}

.output {
  display: flex;
}

.output > p,
.output > span {
  font-size: 170px;
  font-style: italic;
  font-weight: bold;
  margin: 0px;
  text-align: center;
}
input,
button {
  position: absolute;
  bottom: 20px;
  font-size: 20px;
  background-color: #00d60a;
  border-color: #00d60a;
  text-align: center;
}
input {
  left: 20px;
  width: 50px;
  height: 30px;
  padding: 1px 2px;
}
button :focus {
  outline: none;
}
button {
  left: 87px;
  height: 36px;
  width: 102px;
}
.reset {
  width: auto;
  left: 196px;
}
@media screen and (max-width: 850px) {
  .output {
    flex-direction: column;
  }
  .output > span {
    display: none;
  }
  .output > p {
    font-size: 70px;
    min-width: 90px;
  }
  .App > div {
    transform: translate(calc(50vw - 3em), -4em);
  }
  input {
    left: calc(50vw - 130px);
  }
  button {
    left: calc(50vw - 57px);
  }
  .reset {
    left: calc(50vw + 57px);
  }
  input,
  button {
    bottom: 70px;
  }
}
